

/************
 * 基本默认样式
 ************/
html{
    font-size: 62.5%;
    color: #222;
    /*em相对父元素font-size知道浏览器的默认font-size 1em = 16px;为参考物，
    rem参照物为html
    具有继承的特点*/
}
::selection{
    background-color: #b3d4fc;
    text-shadow: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-right{
    float: right; !important;
}
.pull-left{
    float: left !important;
}
.text-right{
    text-align:right !important;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.hide{
    display: none !important;
}
.visible{
    visibility: hidden;
}
.text-hide{
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border:0;
}
.clearfix:before,
.clearfix:after
{
    content: " ";
    display: none;
}
.clearfix:after{
    clear: both;
}



/************
 * 页面样式
 ************/



body{
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}
a{
    color: #666;
    text-decoration: none;
}
a:hover,a:active{
    color: #0ae;
    text-decoration: underline;
}


header{
    width: 100%;
}
.container{
    width: 100%;
}
footer{
    width: 100%;
}










